
<div>
<% @shops.each do |shop| %>
  <h2><%= shop.name %></h2>

  <div id="items-list">
    <% shop.items.where(checked: false).each do |item| %>
      <div class="item-row <%= 'checked-item' if item.checked %>" data-checked="<%= item.checked %>" data-id="<%= item.id %>">
        <%= form_with(model: item, local: false, html: { class: "item-form" }) do |form| %>
          <%= form.check_box :checked, { checked: item.checked } %>
          <%= item.item_name %>
        <% end %>
      </div>
    <% end %>
  </div>

<% end %>
</div>

<script src="/app/javascript/shops_index.js"></script>