<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>かうリス</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css"> %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="body__container">
      <header class="header">

        <div class="header__container">
     
          <div class="header__title">かうリス</div>

          <% if user_signed_in? %>
            <div class="user__info">
              <%= link_to current_user.username, "/users/#{current_user.id}", class: "user__info-btn" %>
              <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "user__info-btn" %>
            </div>
          <% else %>
            <div class="user__info">
              <%= link_to "ログイン", new_user_session_path, class: "user__info-btn" %>
              <%= link_to "新規登録", new_user_registration_path, class: "user__info-btn" %>
            </div>
          <% end %>

        </div>

      </header>

      <div class="main">
        <div class="main__container">
          <%= yield %>
        </div>
      </div>
      
      <footer>
        <div class="footer__container">
          <div class="footer__left">
            <%= link_to "みる", shops_path, class: "footer_button" %>
          </div>
          <div class="footer__right">
            <%= link_to "メモ", categories_path, class: "footer_button" %>
          </div>
        </div>
      </footer>
      
    </div>
  </body>

</html>

